<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylepage2.css" />
    <title>Parkings</title>
</head>
<body>
<div th:switch="${parkings}">
    <h2 th:case="null">Liste des parkings : </h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Numéro:</th>
                <th>Type:</th>
                <th>Libelle:</th>
                <th>Occupation:</th>
                <th>Numero parking:</th>
                <th>Edite</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="place : ${Places}">
                <td th:text="${place.numPlace}" />
                <td th:text="${place.type}" />
                <td th:text="${place.libelle}" />
                <td th:text="${place.occupation}" />
                <td th:text="${place.numParking}" />
                <td> <a th:href="@{edit/{id}(id=$place.nunPlace})}"></a></td>
                <td> <a th:href="@{delete/{id}(id=$place.numPLace})}"></a></td>

            </tr>

            </tbody>
        </table>

    </div>

</div>
</body>
</html>